@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #c9d8e9;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    min-height: 100vh;
    padding: 0;
}
header {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    width: 100%;
}

header h1, header p {
    color: rgb(48, 34, 34);
}
#contenedorA, #contenedorB {
    background-color: rgb(132, 167, 184);
    border-radius: .25rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25);
    flex: 0 0 40%;
    padding: 10px 10px;
    margin: 10px 10px;
  
}

input[type="button"] {
    margin-top: 2rem;
    padding: .25rem 1rem;
}