@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 700;
  src: local('Merienda Bold'), local('Merienda-Bold'), url(fuentes/mbcww3uvDIvQ0VClREeMdIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}